.App {
  text-align: center;
}

.guestBookGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.formChild{
  grid-column: 1;
  padding: 1%;
}

.listChild{
  grid-column: 2;
  padding: 1%;
}

.rsvpChild{
  grid-column: 3;
  padding: 1%;
}

.inputGroup{
  display: block;
  padding: 1%;
}
